.promo
	.promo__container.container
		a(href="index.html").promo__logo.logo Cakes
		.promo__burger
			.burgerline.burgerline-1
			.burgerline.burgerline-2
			.burgerline.burgerline-3
		a(href="tel:+79068999296").promo__phone +7 906 899 92 96