mixin order-list (orderNumber, orderTitle)
	li.order__item.order-block
		h3.order-block__title <span>#{orderNumber} </span>#{orderTitle}
		block

section#order.order
	h2.order__title Как заказать
	.order__container.container
		ul.order-list
			+order-list ('1', 'Срок заказа')
				p.order-block__text Размещать заказы желательно за 2-3 дня. На выходные заказы лучше размещать минимум за неделю.
			+order-list ('2', 'Доставка по городу')
				p.order-block__text Доставка в пределах города 200 рублей, при заказе на сумму более 2000 доставка бесплатно.
			+order-list ('3', 'Доставка за городом')
				p.order-block__text Доставка за пределами города рассчитывается индивидуально.