section#clientcare.clientcare
	h2.clientcare__title Забота о клиентах
	h3.clientcare__subtitle Для нас важно
	.clientcare__container.container
		p.clientcare__text Нам важно чтобы каждый торт был безупречным, как внутри, так и снаружи, чтобы он был создан исключительно для вас и для вашего события.