@font-face {
  font-family: "Playfair display";
  src: url("../fonts/Playfair Display/PlayfairDisplay-Regular.woff2") format("woff2");
  /*src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.woff") format("woff");*/
  /*src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.tff") format("ttf");*/
  font-style: normal; }

@font-face {
  font-family: "Playfair display";
  src: url("../fonts/Playfair Display/PlayfairDisplay-Bold.woff2") format("woff2");
  /*src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.woff") format("woff");*/
  /*src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.tff") format("ttf");*/
  font-weight: bold; }

@font-face {
  font-family: "Playfair display";
  src: url("../fonts/Playfair Display/PlayfairDisplay-BoldItalic.woff2") format("woff2");
  /*src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.woff") format("woff");*/
  /*src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.tff") format("ttf");*/
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/Circe-Regular.woff2") format("woff2");
  /*src: url("../fonts/Circe/Circe-Regular.woff") format("woff");*/
  /*src: url("../fonts/Circe/Circe-Regular.tff") format("ttf");*/
  font-style: normal; }

@font-face {
  font-family: "Intro Script R";
  src: url("../fonts/Intro script R/IntroScriptR-Regular.woff2") format("woff2");
  /*url("../fonts/Intro script R/Intro script R.woff") format("woff");*/
  /*url("../fonts/Intro script R/Intro script R.tff") format("ttf");*/
  font-style: normal; }

body {
  font-family: "Circe", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fbebea; }

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

.container {
  width: calc(100% - 40px);
  margin: 0 auto; }

.promo {
  height: 40px;
  background-color: #fff; }
  .promo__logo {
    color: #000;
    font-family: "Playfair display", serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px; }
  .promo__phone {
    display: none; }

.main-nav {
  display: none; }
  .main-nav__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-nav__link {
    text-decoration: none; }

.page-header {
  background: url(../img/main-cake-bg.png) -10px -200px/100% no-repeat; }
  .page-header__title {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-family: "Playfair display", serif;
    font-size: 40px;
    padding-top: 134px;
    padding-bottom: 23px; }
  .page-header__descr {
    font-family: "Intro Script R", sans-serif;
    display: block;
    width: 133px;
    font-size: 22px;
    margin: 0 auto;
    text-align: center; }
  .page-header__btn {
    display: block;
    color: #fff;
    background-color: #f50049;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    border: none;
    width: 180px;
    margin-top: 40px;
    text-decoration: none; }

.header-specsbox {
  padding-left: 0;
  display: flex;
  flex-direction: column; }
  .header-specsbox__text {
    position: relative;
    padding-left: 42px;
    padding-top: 30px; }
    .header-specsbox__text:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 33px;
      height: 33px;
      left: 0;
      background-position: center; }
    .header-specsbox__text:first-child:before {
      background-image: url(../img/icons/leaf-icon.png);
      top: 23px; }
    .header-specsbox__text:last-child:before {
      background-image: url(../img/icons/box-icon.png);
      top: 28px; }

@media (min-width: 767px) {
  .page-header {
    position: relative; }
    .page-header__title {
      text-align: left;
      width: 300px;
      font-size: 60px;
      padding-top: 112px;
      padding-bottom: 29px;
      margin-left: 26px; }
    .page-header__descr {
      width: 230px;
      font-size: 36px;
      margin-left: 26px; }
    .page-header__btn {
      display: block;
      color: #fff;
      background-color: #f50049;
      border-radius: 25px;
      height: 50px;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
      font-size: 13px;
      border: none;
      width: 180px;
      margin-left: 26px;
      position: absolute;
      top: 350px; }
  .header-specsbox {
    padding-top: 250px;
    flex-direction: row; }
    .header-specsbox__text {
      width: 180px;
      margin-left: 50px;
      padding-top: 0; }
      .header-specsbox__text:before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 57px;
        height: 56px;
        left: -20px; }
      .header-specsbox__text:first-child:before {
        top: -10px; }
      .header-specsbox__text:last-child:before {
        top: -10px; } }

.cakes__title {
  font-size: 24px;
  text-align: center;
  font-family: "Playfair display", serif;
  padding-top: 45px;
  margin-bottom: 30px; }

.cakes__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.cakes__item {
  display: block;
  width: 280px;
  height: 120px;
  padding: 13px;
  text-decoration: none;
  color: #000;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1); }

.cakes__item:first-child {
  background-image: url(../img/classic-cake.jpg);
  background-position: 50% 10%; }

.cakes__item:nth-child(2) {
  background-image: url(../img/muss-cake.jpg); }

.cakes__item:nth-child(3) {
  background-image: url(../img/wedding-cake.jpg); }

.cakes__item:nth-child(4) {
  background-image: url(../img/men-cake.jpg); }

.cakes__item:nth-child(5) {
  background-image: url(../img/women-cake.jpg); }

.cakes__item:last-child {
  background-image: url(../img/children-cake.jpg); }

.cakes__item span {
  font-size: 10px;
  opacity: 0.7; }

@media (min-width: 767px) {
  .cakes__list {
    position: relative;
    height: 810px; }
  .cakes__item {
    position: absolute;
    width: 290px;
    height: 185px; }
  .cakes__item:first-child {
    width: 420px;
    height: 390px;
    top: 0;
    left: 0; }
  .cakes__item:nth-child(2) {
    top: 0;
    right: 0; }
  .cakes__item:nth-child(3) {
    top: 205px;
    right: 0; }
  .cakes__item:nth-child(4) {
    top: 410px;
    left: 0; }
  .cakes__item:nth-child(5) {
    bottom: 0;
    left: 0; }
  .cakes__item:last-child {
    width: 420px;
    height: 390px;
    bottom: 0;
    right: 0; } }

.personal__title {
  font-size: 24px;
  text-align: center;
  font-family: "Playfair display", serif;
  padding-top: 45px;
  width: 215px;
  margin: 0 auto 15px; }

.personal__text {
  display: block;
  font-family: "Intro Script R", sans-serif;
  font-size: 22px;
  text-align: center; }

.personal-card {
  width: 280px;
  height: 430px;
  background-color: #fff;
  padding: 18px;
  border-radius: 30px;
  margin: 10px auto;
  position: relative; }
  .personal-card__title {
    font-family: "Playfair display", serif;
    font-size: 16px;
    color: #f50049;
    line-height: 16px;
    margin-bottom: 22px; }
  .personal-card__title span {
    font-family: "Playfair display", serif;
    font-size: 30px;
    font-weight: bold;
    color: #f50049;
    padding-right: 13px; }
  .personal-card__btn {
    display: block;
    color: #fff;
    background-color: #f50049;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    border: none;
    width: 180px;
    margin-top: 23px; }

.personal-cakebox {
  height: 280px;
  margin: 0 auto; }
  .personal-cakebox__img-wrap {
    margin: 0 auto;
    width: 244px;
    height: 110px; }
  .personal-cakebox__img {
    width: 100%;
    height: 110px; }

.cakebox-block {
  margin-top: 40px; }
  .cakebox-block__title {
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: bold; }
  .cakebox-block__text {
    margin-bottom: 17px;
    max-width: 300px; }
  .cakebox-block__size {
    display: block;
    font-family: "Playfair display", serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }

.personal-sizebox {
  height: 280px;
  margin: 0 auto; }
  .personal-sizebox__img-wrap {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
    text-align: center;
    position: relative; }
  .personal-sizebox__img {
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .personal-sizebox__title {
    text-align: center; }

.personal-sizebox:not(:first-child) {
  display: none; }

.personal-appearbox {
  height: 280px;
  margin: 0 auto; }
  .personal-appearbox__img-wrap {
    margin: 0 auto;
    width: 200px;
    height: 200px; }
  .personal-appearbox__img {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .personal-appearbox__title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 7px; }
  .personal-appearbox__size {
    display: block;
    font-family: "Playfair display", serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }

.personal-card:last-child {
  height: 360px; }

.personal-card__title--final {
  font-family: "Playfair display", serif;
  font-size: 22px;
  margin-bottom: 14px; }

.final-order__parametr {
  display: block;
  font-family: "Intro Script R", sans-serif;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  color: #f50049;
  padding-bottom: 7px; }

.final-order__choice {
  width: 244px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
  line-height: 30px; }

@media (min-width: 767px) {
  .personal__title {
    width: 300px; }
  .personal-card {
    width: 100%;
    height: 350px;
    box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1); }
    .personal-card__title {
      display: inline-block;
      height: 20px;
      width: 90px;
      position: relative;
      margin-top: 50px;
      margin-left: 30px;
      margin-bottom: 0; }
    .personal-card__title span {
      position: absolute;
      top: -30px; }
  .personal-cakebox {
    height: 140px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px; }
    .personal-cakebox__img-wrap {
      width: 210px;
      height: 210px;
      overflow: hidden; }
    .personal-cakebox__img {
      height: 100%;
      width: 200%; }
    .personal-cakebox__btn {
      position: absolute;
      left: 390px;
      top: 200px; }
  .cakebox-block {
    width: 200px;
    margin-top: 10px; }
    .cakebox-block__size {
      text-align: left; }
  .sizebox-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .personal-sizebox:not(:first-child) {
    display: block; }
  .personal-sizebox__img-wrap {
    width: 160px;
    height: 160px; }
  .personal-sizebox:first-child .personal-sizebox__img-wrap {
    width: 80px;
    height: 80px; }
  .personal-sizebox:nth-child(2) .personal-sizebox__img-wrap {
    width: 110px;
    height: 110px; }
  .personal-sizebox:nth-child(3) .personal-sizebox__img-wrap {
    width: 120px;
    height: 120px; }
  .personal-sizebox:nth-child(4) .personal-sizebox__img-wrap {
    width: 140px;
    height: 140px; }
  .personal-sizebox__img {
    width: 100%; }
  .personal-sizebox___btn {
    display: none; }
  .appearbox-list {
    position: absolute;
    top: 50px;
    left: 300px; }
  .personal-appearbox {
    width: 200px;
    height: 270px;
    box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1); }
    .personal-appearbox__btn {
      display: none; }
    .personal-appearbox:before {
      content: '';
      position: absolute;
      background: url(../img/cake-picture.png) no-repeat center/cover;
      width: 120px;
      height: 150px;
      left: -270px;
      bottom: 20px; }
    .personal-appearbox__title {
      margin-top: 5px; }
    .personal-appearbox__size {
      font-size: 14px; }
  .personal-card:last-child {
    height: 150px;
    position: relative; }
    .personal-card:last-child:before {
      content: '';
      width: 330px;
      height: 80px;
      position: absolute;
      left: -20px;
      bottom: -75px;
      background: url(../img/illustrations/flags-left.png) no-repeat center/cover; }
    .personal-card:last-child:after {
      content: '';
      width: 330px;
      height: 80px;
      position: absolute;
      right: -20px;
      bottom: -75px;
      background: url(../img/illustrations/flags-right.png) no-repeat center/cover; }
  .final-order {
    display: flex;
    justify-content: space-between;
    width: 440px; }
    .final-order__choice {
      width: 100%;
      padding: 0 10px; }
    .final-order__btn {
      position: absolute;
      right: 50px;
      bottom: 30px; } }

.reviews__title {
  font-size: 24px;
  text-align: center;
  font-family: "Playfair display", serif;
  padding-top: 45px;
  margin-bottom: 22px; }

.reviews-item {
  width: 230px;
  height: 180px;
  margin: 0 auto; }
  .reviews-item__img-wrap {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    text-align: center; }
  .reviews-item__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  .reviews-item__name {
    display: block;
    text-align: center;
    font-weight: bold; }
  .reviews-item__skills {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 8px; }
  .reviews-item__text {
    margin: 0 auto;
    font-size: 12px;
    text-align: center; }

.reviews-block {
  margin-top: 7px; }

@media (min-width: 767px) {
  .reviews-item {
    width: 420px;
    display: flex;
    justify-content: space-between; }
    .reviews-item__img-wrap {
      width: 110px;
      height: 110px; }
    .reviews-item__block {
      width: 260px; }
    .reviews-item__name, .reviews-item__skills, .reviews-item__text {
      text-align: left; } }

.about__title {
  font-size: 24px;
  text-align: center;
  font-family: "Playfair display", serif;
  padding-top: 45px;
  margin-bottom: 22px; }

.about__container {
  position: relative; }

.about__img-wrap {
  width: 155px;
  height: 155px;
  overflow: hidden;
  z-index: 1;
  border-radius: 50%; }

.about__img {
  width: 110%;
  height: 100%; }

.about__subtitle {
  font-family: "Intro Script R", sans-serif;
  font-size: 22px;
  margin-top: 15px; }

.about__quotes {
  background: url(../img/icons/quotes-pic.png) center/100% no-repeat;
  width: 26px;
  height: 17px;
  margin: 0 auto;
  margin-top: 40px; }

.about__blockquote {
  max-width: 400px;
  font-family: "Playfair display", serif;
  font-size: 13px;
  font-style: italic;
  text-align: center;
  margin: 20px auto; }

.about__sign {
  background: url(../img/icons/sign-pic.png) center/100% no-repeat;
  width: 64px;
  height: 33px;
  margin: 0 auto; }

.about-socials {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 60px;
  top: 100px; }
  .about-socials__item {
    width: 36px;
    height: 36px; }
  .about-socials__link {
    display: block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 18px; }

.instagram-link {
  background-image: url(../img/icons/inst-icon.png);
  background-size: 50%; }

.vk-link {
  background-image: url(../img/icons/vk-icon.png);
  background-size: 50%; }

.twit-link {
  background-image: url(../img/icons/twit-icon.png); }

.about-subtext__title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px; }

.advantages__title {
  font-size: 24px;
  text-align: center;
  font-family: "Playfair display", serif;
  padding-top: 45px;
  margin-bottom: 10px; }

.advantages__subtitle {
  font-family: "Intro Script R", sans-serif;
  font-size: 22px;
  margin-bottom: 13px;
  text-align: center; }

.advantages-block {
  background-color: #fff;
  margin: 0 -20px;
  text-align: center;
  padding-top: 86px;
  position: relative;
  padding-bottom: 10px; }
  .advantages-block:nth-child(3):before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 61px;
    height: 61px;
    background-image: url(../img/icons/leaf-icon.png);
    left: 0;
    right: 0;
    top: 10px;
    margin: auto; }
  .advantages-block:nth-child(4):before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 84px;
    height: 50px;
    background-image: url(../img/icons/cake24-icon.png);
    left: 0;
    right: 0;
    top: 10px;
    margin: auto; }
  .advantages-block__title {
    font-size: 16px; }
  .advantages-block__text {
    width: 260px;
    margin: 0 auto; }

.clientcare {
  background: url(../img/advantage-cake1.png) 0 200px/100% no-repeat; }
  .clientcare__title {
    font-size: 24px;
    text-align: center;
    font-family: "Playfair display", serif;
    padding-top: 45px;
    margin-bottom: 10px; }
  .clientcare__subtitle {
    display: block;
    font-family: "Intro Script R", sans-serif;
    font-size: 22px;
    margin-bottom: 7px;
    text-align: center; }
  .clientcare__text {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px; }

.order {
  background: url(../img/order-bg-320.jpg) bottom no-repeat #e3353d; }
  .order__title {
    font-size: 24px;
    text-align: center;
    font-family: "Playfair display", serif;
    padding-top: 45px;
    text-align: center;
    color: #fff;
    padding-bottom: 37px; }
  .order__list {
    padding: 0;
    list-style: none; }
  .order__item {
    text-align: left;
    color: #fff;
    padding-left: 46px;
    padding-right: 14px;
    position: relative; }
    .order__item:last-child {
      padding-bottom: 130px; }
  .order-block__title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 7px;
    position: relative; }
    .order-block__title span {
      font-family: "Playfair display", serif;
      font-size: 35px;
      position: absolute;
      left: -30px;
      top: -15px; }
  .order-block__text {
    padding-bottom: 23px; }

.contacts {
  text-align: center; }
  .contacts__title {
    font-size: 24px;
    text-align: center;
    font-family: "Playfair display", serif;
    padding-top: 45px;
    padding-bottom: 15px; }
  .contacts__subtitle {
    display: block;
    font-family: "Intro Script R", sans-serif;
    font-size: 22px;
    padding-bottom: 8px; }
  .contacts-form__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    height: 50px;
    border: none;
    margin: 10px auto;
    border-radius: 10px; }
  .contacts-form__btn {
    display: block;
    color: #fff;
    background-color: #f50049;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    border: none;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 29px; }
  .contacts__phone, .contacts__mail {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px; }
  .contacts__socialtext {
    display: block;
    margin-bottom: 10px; }

.contacts-socials {
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin: 0 auto; }
  .contacts-socials__instagram, .contacts-socials__vk {
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 31px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center; }
  .contacts-socials__instagram {
    background-image: url(../img/icons/inst-icon.png); }
  .contacts-socials__vk {
    background-image: url(../img/icons/vk-icon.png); }

.page-footer {
  background-color: #898989;
  padding-top: 45px; }
  .page-footer__logo {
    font-family: "Playfair display", serif;
    font-size: 28px;
    padding-bottom: 30px;
    color: #fff; }
  .page-footer__copyright {
    display: block;
    border-top: 1px solid #b8b8b8;
    color: #b8b8b8;
    padding: 10px 0; }

.footer-nav__item {
  padding-bottom: 15px; }

.footer-nav__link {
  text-decoration: none;
  color: #fff; }

.footer-socials {
  width: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0; }
  .footer-socials__instagram, .footer-socials__vk {
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: left; }
  .footer-socials__instagram {
    background-image: url(../img/icons/inst-icon.png);
    background-size: 65%; }
  .footer-socials__vk {
    background-image: url(../img/icons/vk-icon.png);
    background-size: 85%; }
