@font-face {
  font-family: "Playfair display";
  src: url("../fonts/Playfair Display/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/Playfair_Display/PlayfairDisplay-Regular.tff") format("ttf");
  font-style: normal; }

@font-face {
  font-family: "Playfair display";
  src: url("../fonts/Playfair Display/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/Playfair_Display/PlayfairDisplay-Bold.tff") format("ttf");
  font-weight: bold; }

@font-face {
  font-family: "Playfair display";
  src: url("../fonts/Playfair Display/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.woff") format("woff"), url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.tff") format("ttf");
  font-style: italic; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.tff") format("ttf");
  font-style: normal; }

@font-face {
  font-family: "Intro Script R";
  src: url("../fonts/Intro script R/IntroScriptR-Regular.woff2") format("woff2"), url("../fonts/Intro script R/Intro script R.woff") format("woff"), url("../fonts/Intro script R/Intro script R.tff") format("ttf");
  font-style: normal; }

body {
  font-family: "Circe", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fbebea;
  position: relative; }

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

.container {
  width: calc(100% - 40px);
  max-width: 1220px;
  margin: 0 auto; }

.promo {
  height: 40px;
  background-color: #fff;
  position: relative; }
  .promo__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .promo__logo {
    display: inline-block;
    color: #000;
    font-family: "Playfair display", serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px; }
  .promo__burger {
    position: absolute;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 10px;
    top: 10px; }
  .promo__phone {
    width: 150px;
    display: none;
    color: #000;
    font-family: "Circe", serif, sans-serif;
    font-size: 15px;
    font-weight: bold; }

.burgerline {
  width: 100%;
  height: 2px;
  background-color: #000; }

@media (min-width: 767px) {
  .promo__burger {
    left: 100px; }
  .promo__phone {
    display: block; } }

@media (min-width: 1199px) {
  .promo {
    background-color: transparent;
    height: 0; }
    .promo__logo {
      font-size: 23px;
      padding-top: 50px;
      padding-left: 70px; }
    .promo__burger {
      display: none; }
    .promo__phone {
      padding-top: 55px; } }

.main-nav {
  display: none;
  background-color: #fbebea;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;
  padding-bottom: 40px; }
  .main-nav__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .main-nav__item {
    margin-top: 30px; }
  .main-nav__link {
    text-decoration: none;
    padding: 0 5px;
    color: #000;
    font-size: 24px; }
    .main-nav__link:hover {
      color: #fbebea;
      background-color: #f50049;
      border-radius: 5px;
      transition: all 0.4s;
      padding: 5px 5px; }

@media (min-width: 1199px) {
  .main-nav {
    display: block;
    width: 750px;
    padding-top: 35px;
    margin: 0 auto;
    padding-bottom: 0;
    background-color: transparent; }
    .main-nav__list {
      flex-direction: row; }
    .main-nav__link {
      color: #000;
      text-transform: uppercase;
      font-size: 14px; } }

.page-header {
  position: relative;
  background: url(../img/main-cake-bg.png) center -200px/contain no-repeat; }
  .page-header__title {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-family: "Playfair display", serif;
    font-size: 40px;
    padding-top: 134px;
    padding-bottom: 23px; }
  .page-header__descr {
    font-family: "Intro Script R", sans-serif;
    display: block;
    width: 133px;
    font-size: 22px;
    margin: 0 auto;
    text-align: center; }
  .page-header__btn {
    display: block;
    color: #fff;
    background-color: #f50049;
    border-radius: 25px;
    height: 3.3em;
    line-height: 3.3em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    width: 180px;
    cursor: pointer;
    outline: none;
    margin-top: 40px;
    text-decoration: none; }
    .page-header__btn:hover {
      color: #f50049;
      background-color: #fbebea;
      box-shadow: inset 0 0 10px 0 #f50049, 0 0 2px 1px #f50049;
      transition: all 0.3s; }
    .page-header__btn:focus {
      border: 2px solid #5E9ED6; }

.header-specsbox {
  padding-left: 0;
  display: flex;
  flex-direction: column; }
  .header-specsbox__text {
    position: relative;
    padding-left: 42px;
    padding-top: 30px; }
    .header-specsbox__text:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 33px;
      height: 33px;
      left: 0; }
    .header-specsbox__text:first-child:before {
      background-image: url(../img/icons/leaf-icon.png);
      top: 23px; }
    .header-specsbox__text:last-child:before {
      background-image: url(../img/icons/box-icon.png);
      top: 28px; }

@media (min-width: 380px) {
  .page-header {
    background-position: center -250px; } }

@media (min-width: 767px) {
  .page-header {
    height: 700px;
    background-position: 40vw 10px;
    background-size: 60vh; }
    .page-header__title {
      text-align: left;
      width: 300px;
      font-size: 60px;
      padding-top: 112px;
      padding-bottom: 29px;
      margin-left: 26px; }
    .page-header__descr {
      width: 230px;
      font-size: 36px;
      margin-left: 26px;
      text-align: left; }
    .page-header__btn {
      display: block;
      color: #fff;
      background-color: #f50049;
      border-radius: 25px;
      height: 3.3em;
      line-height: 3.3em;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
      font-size: 1rem;
      border: none;
      width: 180px;
      cursor: pointer;
      outline: none;
      margin-left: 26px;
      position: absolute;
      top: 350px; }
      .page-header__btn:hover {
        color: #f50049;
        background-color: #fbebea;
        box-shadow: inset 0 0 10px 0 #f50049, 0 0 2px 1px #f50049;
        transition: all 0.3s; }
      .page-header__btn:focus {
        border: 2px solid #5E9ED6; }
    .page-header:before {
      content: '';
      position: absolute;
      width: 80px;
      height: 80px;
      background: url(../img/illustrations/illustration1.png) center center/cover no-repeat;
      left: 33%;
      top: 8%; }
  .header-specsbox {
    padding-top: 250px;
    flex-direction: row; }
    .header-specsbox__text {
      width: 200px;
      margin-left: 50px;
      padding-top: 0; }
      .header-specsbox__text:before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 57px;
        height: 56px;
        left: -25px; }
      .header-specsbox__text:first-child:before {
        top: -10px; }
      .header-specsbox__text:last-child:before {
        top: -10px; } }

@media (min-width: 1199px) {
  .page-header {
    height: 800px;
    background-position: 50vw 100px;
    background-size: 60vh; }
    .page-header__title {
      font-size: 78px;
      width: 400px; }
    .page-header__descr {
      font-size: 42px;
      width: 300px; }
    .page-header__btn {
      top: 500px; }
    .page-header:before {
      left: 45%;
      top: 20%; } }

.cakes__title {
  font-size: 1.7rem;
  text-align: center;
  font-family: "Playfair display", serif;
  padding-top: 45px;
  margin-bottom: 30px; }

.cakes__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.cakes__item {
  display: block;
  width: 280px;
  height: 120px;
  padding: 13px;
  text-decoration: none;
  color: #000;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
  transition: all 0.7s; }

.cakes__item:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.7); }

.cakes__item:first-child {
  background-image: url(../img/classic-cake.jpg);
  background-position: 50% 10%; }

.cakes__item:nth-child(2) {
  background-image: url(../img/muss-cake.jpg); }

.cakes__item:nth-child(3) {
  background-image: url(../img/wedding-cake.jpg); }

.cakes__item:nth-child(4) {
  background-image: url(../img/men-cake.jpg); }

.cakes__item:nth-child(5) {
  background-image: url(../img/women-cake.jpg); }

.cakes__item:last-child {
  background-image: url(../img/children-cake.jpg); }

.cakes__item span {
  font-size: 0.75rem;
  opacity: 0.7; }

@media (min-width: 767px) {
  .cakes__list {
    position: relative;
    height: 810px; }
  .cakes__item {
    position: absolute;
    width: 40%;
    height: 185px; }
  .cakes__item:first-child {
    width: 58%;
    height: 390px;
    top: 0;
    left: 0; }
  .cakes__item:nth-child(2) {
    top: 0;
    right: 0; }
  .cakes__item:nth-child(3) {
    top: 205px;
    right: 0; }
  .cakes__item:nth-child(4) {
    top: 410px;
    left: 0; }
  .cakes__item:nth-child(5) {
    bottom: 0;
    left: 0; }
  .cakes__item:last-child {
    width: 58%;
    height: 390px;
    bottom: 0;
    right: 0; } }

@media (min-width: 1199px) {
  .cakes__title {
    font-size: 2.85rem;
    padding-top: 100px;
    padding-top: 0; }
  .cakes__item {
    font-size: 1.7rem; }
    .cakes__item span {
      font-size: 1.43rem; } }

.personal__title {
  font-size: 1.7rem;
  text-align: center;
  font-family: "Playfair display", serif;
  padding-top: 45px;
  width: 215px;
  margin: 0 auto 15px; }

.personal__subtitle {
  display: block;
  font-family: "Intro Script R", sans-serif;
  font-size: 1.6rem;
  text-align: center; }

.personal-card {
  max-width: 1220px;
  background-color: #fff;
  padding: 18px;
  border-radius: 30px;
  margin: 10px auto;
  position: relative;
  box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1); }
  .personal-card__title {
    font-family: "Playfair display", serif;
    font-size: 16px;
    color: #f50049;
    line-height: 16px;
    margin-bottom: 22px; }
  .personal-card__title span {
    font-family: "Playfair display", serif;
    font-size: 30px;
    font-weight: bold;
    color: #f50049;
    padding-right: 13px; }
  .personal-card__btn {
    display: block;
    color: #fff;
    background-color: #f50049;
    border-radius: 25px;
    height: 3.3em;
    line-height: 3.3em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    width: 180px;
    cursor: pointer;
    outline: none;
    margin-top: 50px; }
    .personal-card__btn:hover {
      color: #f50049;
      background-color: #fbebea;
      box-shadow: inset 0 0 10px 0 #f50049, 0 0 2px 1px #f50049;
      transition: all 0.3s; }
    .personal-card__btn:focus {
      border: 2px solid #5E9ED6; }

.personal-card__title--final {
  font-family: "Playfair display", serif;
  font-size: 22px;
  margin-bottom: 14px; }

@media (min-width: 767px) {
  .personal__title {
    width: 300px; }
  .personal-card__title {
    display: inline-block;
    height: 20px;
    width: 90px;
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 18px; }
  .personal-card__title--final {
    margin-left: 30px;
    margin-bottom: 10px; }
  .personal-card__title span {
    position: absolute;
    top: -30px;
    font-size: 36px; }
  .personal-card:nth-child(3):before {
    content: '';
    position: absolute;
    background: url(../img/cake-picture.png) no-repeat center/cover;
    width: 120px;
    height: 150px;
    left: 20px;
    top: 120px; }
  .personal-card:last-child {
    min-height: 150px;
    position: relative; }
    .personal-card:last-child:before {
      content: '';
      width: 330px;
      height: 80px;
      position: absolute;
      left: 10px;
      bottom: -60px;
      background: url(../img/illustrations/flags-left.png) no-repeat center/cover;
      transform: rotate(5deg); }
    .personal-card:last-child:after {
      content: '';
      width: 330px;
      height: 80px;
      position: absolute;
      right: 10px;
      bottom: -60px;
      background: url(../img/illustrations/flags-right.png) no-repeat center/cover;
      transform: rotate(-5deg); } }

@media (min-width: 1199px) {
  .personal__title {
    width: 100%;
    font-size: 2.85rem;
    padding-top: 100px; }
  .personal__subtitle {
    font-size: 2.5rem; }
  .personal-card__title {
    font-size: 27px;
    line-height: 27px;
    margin-left: 60px;
    margin-top: 100px; }
    .personal-card__title span {
      font-size: 58px;
      top: -50px; }
  .personal-card:last-child {
    height: 200px; }
  .personal-card__title--final {
    font-size: 27px; }
  .personal-card:nth-child(3):before {
    width: 230px;
    height: 300px;
    top: 180px; } }

.personal-cakebox {
  width: 200px;
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
  padding-bottom: 10px; }
  .personal-cakebox__img-wrap {
    margin: 0 auto;
    width: 190px;
    height: 100px; }
  .personal-cakebox__img {
    width: 100%;
    height: auto; }

.cakebox-block {
  margin-top: 40px;
  position: relative; }
  .cakebox-block__title {
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: bold; }
  .cakebox-block__text {
    margin-bottom: 17px;
    max-width: 300px;
    max-height: 90px;
    overflow: hidden; }
  .cakebox-block__size {
    display: block;
    font-family: "Playfair display", serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }

@media (min-width: 767px) {
  .personal-cakebox {
    width: 450px;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative; }
    .personal-cakebox__img-wrap {
      width: 210px;
      height: 240px;
      overflow: hidden; }
    .personal-cakebox__img {
      height: 100%;
      width: 200%; }
  .cakebox-block {
    width: 200px;
    margin-top: 30px; }
    .cakebox-block__size {
      text-align: left; }
    .cakebox-block__btn {
      position: absolute;
      right: 4%;
      bottom: 15%; } }

@media (min-width: 1199px) {
  .personal-cakebox {
    width: 700px;
    height: 350px;
    bottom: 70px;
    margin-top: 80px; }
    .personal-cakebox__img-wrap {
      width: 350px;
      height: 350px; }
    .personal-cakebox__img {
      height: 90%;
      width: 200%; }
  .cakebox-block {
    width: 300px;
    height: 180px;
    margin-top: 30px; }
    .cakebox-block__title {
      font-size: 20px; }
    .cakebox-block__text {
      font-size: 18px;
      max-height: 120px; }
    .cakebox-block__size {
      font-size: 22px; }
    .cakebox-block__btn {
      right: 17%; } }

.personal-sizebox {
  width: 200px;
  border-radius: 5px;
  margin: 10px auto;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative; }
  .personal-sizebox__img-wrap {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
    text-align: center;
    position: relative; }
  .personal-sizebox__img {
    width: 60%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .personal-sizebox__title {
    text-align: center;
    line-height: 22px; }
  .personal-sizebox i.icon-ok {
    display: none;
    position: absolute;
    font-size: 50px;
    right: -30px;
    bottom: 100px;
    color: green; }

.personal-sizebox:not(:first-child) {
  display: none; }

@media (min-width: 767px) {
  .sizebox-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 900px;
    margin: 0 auto; }
  .personal-sizebox:not(:first-child) {
    display: block; }
  .personal-sizebox__img-wrap {
    width: 80px;
    height: 80px; }
  .personal-sizebox:nth-child(2) .personal-sizebox__img-wrap {
    width: 110px;
    height: 110px; }
  .personal-sizebox:nth-child(3) .personal-sizebox__img-wrap {
    width: 120px;
    height: 120px; }
  .personal-sizebox:nth-child(4) .personal-sizebox__img-wrap {
    width: 140px;
    height: 140px; }
  .personal-sizebox__img {
    width: 100%;
    height: auto; }
  .personal-sizebox__btn {
    display: none; }
  .personal-sizebox i.icon-ok {
    right: -13px;
    bottom: 50px; } }

@media (min-width: 1199px) {
  .personal-sizebox:hover {
    transform: scale(1.07);
    transition: all 0.6s; }
  .personal-sizebox__img-wrap {
    width: 110px;
    height: 110px; }
  .personal-sizebox:nth-child(2) .personal-sizebox__img-wrap {
    width: 150px;
    height: 150px; }
  .personal-sizebox:nth-child(3) .personal-sizebox__img-wrap {
    width: 170px;
    height: 170px; }
  .personal-sizebox:nth-child(4) .personal-sizebox__img-wrap {
    width: 190px;
    height: 190px; }
  .personal-sizebox__title {
    font-size: 18px;
    line-height: 30px; }
  .personal-sizebox i.icon-ok {
    right: -20px;
    bottom: 70px; } }

.appearbox-list {
  width: 100%; }

.personal-appearbox {
  width: 230px;
  border-radius: 5px;
  margin: 10px auto;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative; }
  .personal-appearbox__img-wrap {
    margin: 0 auto;
    width: 200px;
    height: 150px; }
  .personal-appearbox__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto; }
  .personal-appearbox__title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 7px; }
  .personal-appearbox__size {
    display: block;
    font-family: "Playfair display", serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  .personal-appearbox i.icon-ok {
    display: none;
    position: absolute;
    font-size: 50px;
    right: -20px;
    bottom: 100px;
    color: green; }

@media (min-width: 767px) {
  .appearbox-list {
    width: 430px;
    margin-left: 200px; }
  .personal-appearbox {
    width: 200px;
    height: 220px; }
    .personal-appearbox__btn {
      display: none; }
    .personal-appearbox__title {
      margin-top: 5px; }
    .personal-appearbox__size {
      font-size: 14px; }
    .personal-appearbox i.icon-ok {
      right: -16px;
      bottom: 20px; } }

@media (min-width: 900px) {
  .appearbox-list {
    margin: 0 auto; } }

@media (min-width: 1199px) {
  .appearbox-list {
    width: 700px;
    margin-left: 350px; }
  .personal-appearbox {
    width: 320px;
    height: 360px; }
    .personal-appearbox:hover {
      transform: scale(1.07);
      transition: all 0.6s; }
    .personal-appearbox:before {
      width: 250px;
      height: 330px;
      top: 150px; }
    .personal-appearbox__img-wrap {
      width: 300px;
      height: 250px; }
    .personal-appearbox__title {
      font-size: 20px; }
    .personal-appearbox__size {
      font-size: 22px; }
    .personal-appearbox i.icon-ok {
      right: -13px;
      bottom: 100px; } }

.final-order__parametr {
  display: block;
  font-family: "Intro Script R", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  color: #f50049;
  padding-bottom: 7px; }

.final-order__choice {
  width: 244px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
  line-height: 30px; }

@media (min-width: 767px) {
  .final-order {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(100% - 60px);
    margin: 0 auto; }
    .final-order__choice {
      width: 130%;
      padding: 0 10px;
      margin-bottom: 0; }
    .final-order__btn {
      margin: 0; } }

@media (min-width: 1199px) {
  .final-order__parametr {
    font-size: 27px;
    text-align: center; }
  .final-order__choice {
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 18px; } }

.reviews__title {
  font-size: 1.7rem;
  text-align: center;
  font-family: "Playfair display", serif;
  padding-top: 45px;
  margin-bottom: 22px; }

.reviews__container {
  margin: 0 auto; }

.reviews__list {
  position: relative;
  width: 280px;
  margin: 0 auto; }

.reviews-item {
  width: 230px;
  height: 180px;
  margin: 0 auto; }
  .reviews-item__img-wrap {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    text-align: center; }
  .reviews-item__img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  .reviews-item__name {
    display: block;
    text-align: center;
    font-weight: bold; }
  .reviews-item__skills {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px; }
  .reviews-item__text {
    margin: 0 auto;
    font-size: 1rem;
    text-align: center; }

.reviews-block {
  margin-top: 7px; }

@media (min-width: 767px) {
  .reviews__list {
    width: 500px; }
  .reviews-item {
    width: 480px;
    display: flex;
    justify-content: space-between; }
    .reviews-item__img-wrap {
      width: 110px;
      height: 110px; }
    .reviews-item__block {
      width: 320px; }
    .reviews-item__name, .reviews-item__skills, .reviews-item__text {
      text-align: left; } }

@media (min-width: 1199px) {
  .reviews__title {
    font-size: 2.85rem;
    padding-top: 100px; }
  .reviews__subtitle {
    font-size: 2.5rem; }
  .reviews-item__img-wrap {
    margin-top: 5%; }
  .reviews-item__name {
    font-size: 1.43rem; }
  .reviews-item__skills {
    font-size: 1.28rem; }
  .reviews-item__text {
    font-size: 1.1rem; } }

.about {
  max-width: 800px;
  margin: 0 auto; }
  .about__title {
    font-size: 1.7rem;
    text-align: center;
    font-family: "Playfair display", serif;
    padding-top: 45px;
    margin-bottom: 22px; }
  .about__container {
    position: relative; }
  .about__img-wrap {
    width: 155px;
    height: 155px;
    overflow: hidden;
    z-index: 1;
    border-radius: 50%;
    margin: 0 auto; }
  .about__img {
    width: 110%;
    height: 100%; }
  .about__text {
    max-width: 400px;
    margin: 0 auto; }
  .about__subtitle {
    display: block;
    margin: 15px auto 0 auto;
    font-family: "Intro Script R", sans-serif;
    font-size: 1.6rem; }
  .about__blockquote {
    max-width: 400px;
    font-family: "Playfair display", serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin: 70px auto;
    position: relative; }
    .about__blockquote:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../img/icons/quotes-pic.png);
      width: 26px;
      height: 17px;
      left: 0;
      right: 0;
      margin: auto;
      top: -30px; }
    .about__blockquote:after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../img/icons/sign-pic.png);
      width: 70px;
      height: 35px;
      left: 0;
      right: 0;
      top: 70px;
      margin: auto; }

.about-subtext__title {
  display: block;
  max-width: 400px;
  margin: 10px auto;
  font-weight: bold; }

.about-subtext__lines {
  max-width: 400px;
  margin: 0 auto; }

.about-socials {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 5%;
  top: 10px; }
  .about-socials__item {
    width: 36px;
    height: 36px; }
    .about-socials__item:hover {
      transition: transform 0.3s;
      transform: scale(1.5); }
  .about-socials__link {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 18px;
    text-align: center; }
    .about-socials__link i {
      font-size: 1.3rem;
      color: #f50049;
      line-height: 36px; }

@media (min-width: 450px) {
  .about-socials {
    right: 18%; } }

@media (min-width: 767px) {
  .about__container {
    width: calc(100% - 90px); }
  .about__img-wrap {
    width: 310px;
    height: 310px;
    position: absolute;
    right: 0; }
  .about__text {
    width: 315px;
    margin: 0; }
  .about-subtext__title {
    font-size: 1.1rem; }
  .about-subtext__lines {
    font-size: 1.1rem;
    width: 350px;
    margin: 0 auto; }
  .about-socials {
    display: block;
    position: static;
    width: 160px;
    height: 50px;
    margin-top: 20px; }
    .about-socials__item {
      display: inline-block;
      margin-right: 15px; } }

@media (min-width: 1199px) {
  .about__title {
    font-size: 2.85rem;
    padding-top: 100px; }
  .about__subtitle {
    font-size: 2.5rem; } }

.advantages {
  position: relative; }
  .advantages__title {
    font-size: 1.7rem;
    text-align: center;
    font-family: "Playfair display", serif;
    padding-top: 45px;
    margin-bottom: 10px; }
  .advantages__subtitle {
    font-family: "Intro Script R", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 13px;
    text-align: center; }

.advantages-block {
  background-color: #fff;
  margin: 0 -20px;
  text-align: center;
  padding-top: 86px;
  position: relative;
  padding-bottom: 10px; }
  .advantages-block:first-child:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 61px;
    height: 61px;
    background-image: url(../img/icons/leaf-icon.png);
    left: 0;
    right: 0;
    top: 10px;
    margin: auto; }
  .advantages-block:nth-child(2):before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 84px;
    height: 50px;
    background-image: url(../img/icons/cake24-icon.png);
    left: 0;
    right: 0;
    top: 10px;
    margin: auto; }
  .advantages-block__title {
    font-size: 1.15rem;
    padding-bottom: 5px; }
  .advantages-block__text {
    width: 260px;
    margin: 0 auto; }

@media (min-width: 767px) {
  .advantages {
    width: 720px;
    margin: 0 auto 80px; }
  .advantages-block {
    width: 280px;
    margin-left: 55%;
    background-color: #fbebea; }
    .advantages-block:first-child:before {
      left: -370px;
      top: 80px; }
    .advantages-block:first-child:after {
      content: '';
      position: absolute;
      width: 280px;
      height: 280px;
      background-image: url(../img/advantage-cake2.png);
      background-repeat: no-repeat;
      background-size: contain;
      left: -380px;
      top: 20px; }
    .advantages-block:nth-child(2) {
      padding-top: 10px; }
    .advantages-block:nth-child(2):before {
      left: -380px;
      top: 7px; }
    .advantages-block__title, .advantages-block__text {
      text-align: left;
      margin: 0; }
    .advantages-block__text {
      font-size: 1.1rem; } }

@media (min-width: 1199px) {
  .advantages {
    width: 900px; }
    .advantages__title {
      font-size: 2.85rem;
      padding-top: 100px; }
    .advantages__subtitle {
      font-size: 2.5rem; }
  .advantages-block:first-child:after {
    left: -400px; } }

.clientcare {
  background: url(../img/advantage-cake1.png) center 200px/80% no-repeat; }
  .clientcare__title {
    font-size: 1.7rem;
    text-align: center;
    font-family: "Playfair display", serif;
    padding-top: 45px;
    margin-bottom: 10px; }
  .clientcare__subtitle {
    display: block;
    font-family: "Intro Script R", sans-serif;
    font-size: 22px;
    margin-bottom: 7px;
    text-align: center; }
  .clientcare__text {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px; }

@media (min-width: 767px) {
  .clientcare {
    width: 720px;
    background-image: none;
    padding-top: 50px;
    position: relative;
    padding-left: 7%;
    margin: 0 auto; }
    .clientcare__container {
      margin-left: 0; }
    .clientcare:before {
      content: '';
      position: absolute;
      width: 440px;
      height: 440px;
      left: 40%;
      top: -50px;
      z-index: -2;
      background: url(../img/advantage-cake1.png);
      background-repeat: no-repeat;
      background-size: contain; }
    .clientcare__title, .clientcare__subtitle {
      text-align: left; }
    .clientcare__text {
      font-size: 1.1rem;
      width: 310px;
      text-align: left;
      margin-left: 0; } }

@media (min-width: 1199px) {
  .clientcare {
    width: 900px; }
    .clientcare__title {
      font-size: 2.85rem;
      padding-top: 100px;
      padding-top: 20px; }
    .clientcare__subtitle {
      font-size: 2.5rem; }
    .clientcare:before {
      left: 55%; } }

.order {
  background: url(../img/order-bg-320.jpg) bottom no-repeat #e6383e;
  background-size: contain;
  margin: 0 auto;
  height: 50%; }
  .order__title {
    font-size: 1.7rem;
    text-align: center;
    font-family: "Playfair display", serif;
    padding-top: 45px;
    color: #fff;
    padding-bottom: 37px; }
  .order__list {
    max-width: 1200px;
    padding: 0;
    list-style: none; }
  .order__item {
    max-width: 400px;
    text-align: left;
    color: #fff;
    padding-left: 46px;
    padding-right: 14px;
    position: relative;
    margin: 0 auto; }
    .order__item:last-child {
      padding-bottom: 130px; }
  .order-block__title {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 7px;
    position: relative; }
    .order-block__title span {
      font-family: "Playfair display", serif;
      font-size: 2.5rem;
      position: absolute;
      left: -30px;
      top: -15px; }
  .order-block__text {
    padding-bottom: 23px; }

@media (min-width: 620px) {
  .order {
    height: 50%; } }

@media (min-width: 767px) {
  .order {
    background: url(../img/order-bg.jpg) no-repeat #e3353d;
    background-position: -170px 0;
    background-size: 125%;
    height: 100%; }
    .order__item:last-child {
      padding-bottom: 30px; }
  .order-block {
    width: 340px;
    margin-left: 55%; } }

@media (min-width: 1199px) {
  .order {
    height: 700px;
    background-position: -170px 10px; }
    .order__title {
      font-size: 2.85rem;
      padding-bottom: 80px; }
  .order-block {
    width: 450px;
    margin-left: 60%; }
    .order-block__title, .order-block__text {
      font-size: 1.43rem; } }

@media (min-width: 1500px) {
  .order-block {
    margin-left: 65%; } }

.contacts {
  text-align: center; }
  .contacts__title {
    font-size: 1.7rem;
    text-align: center;
    font-family: "Playfair display", serif;
    padding-top: 45px;
    padding-bottom: 15px; }
  .contacts__subtitle {
    display: block;
    font-family: "Intro Script R", sans-serif;
    font-size: 1.6rem;
    padding-bottom: 8px; }
  .contacts-form__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border: none;
    margin: 10px auto;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 1.43rem; }
    .contacts-form__box::placeholder {
      opacity: 0.4;
      line-height: 50px; }
  .contacts-form__btn {
    display: block;
    color: #fff;
    background-color: #f50049;
    border-radius: 25px;
    height: 3.3em;
    line-height: 3.3em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    width: 180px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-bottom: 29px; }
    .contacts-form__btn:hover {
      color: #f50049;
      background-color: #fbebea;
      box-shadow: inset 0 0 10px 0 #f50049, 0 0 2px 1px #f50049;
      transition: all 0.3s; }
    .contacts-form__btn:focus {
      border: 2px solid #5E9ED6; }

.contacts-textblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px; }
  .contacts-textblock__phone, .contacts-textblock__mail {
    display: inline-block;
    text-decoration: none;
    color: #000;
    flex-grow: 2; }
  .contacts-textblock__socialtext {
    display: inline-block;
    margin-bottom: 15px; }

.contacts-socials {
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin: 0 auto; }
  .contacts-socials__instagram, .contacts-socials__vkontakte {
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 31px; }
    .contacts-socials__instagram:hover, .contacts-socials__vkontakte:hover {
      transition: transform 0.3s;
      transform: scale(1.5); }
  .contacts-socials__instagram i,
  .contacts-socials__vkontakte i {
    line-height: 62px;
    font-size: 32px;
    text-align: center;
    color: #f50049; }

@media (min-width: 767px) {
  .contacts {
    width: 100%;
    margin: 0 auto; }
    .contacts__container {
      width: calc(100% - 90px);
      display: flex;
      justify-content: space-between;
      margin-top: 10px; }
  .contacts-textblock {
    width: 220px;
    text-align: left; }
  .contacts-form__box:nth-child(4) {
    height: 120px; }
  .contacts-form__btn {
    margin-left: 0; }
  .contacts-socials {
    margin: 0;
    text-align: center; } }

@media (min-width: 1199px) {
  .contacts {
    width: 1000px;
    margin: 0 auto; }
    .contacts__title {
      font-size: 2.85rem;
      padding-top: 100px; }
    .contacts__subtitle {
      font-size: 2.5rem; }
    .contacts__title, .contacts__subtitle {
      text-align: left; }
    .contacts__container {
      margin-left: 0; }
  .contacts-form__text {
    display: block;
    text-align: left;
    margin: 0;
    font-size: 1.43rem; }
  .contacts-form__box {
    width: 560px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e2d4d3;
    border-radius: 0;
    padding-bottom: 0; }
  .contacts-form__btn {
    margin-top: 75px; }
  .contacts-textblock {
    width: 300px; }
    .contacts-textblock * {
      font-size: 1.43rem; }
    .contacts-textblock__phone, .contacts-textblock__mail {
      margin-bottom: 30px; } }

.page-footer {
  background-color: #898989;
  padding-top: 45px;
  width: 100%; }
  .page-footer__logo {
    font-family: "Playfair display", serif;
    font-size: 2rem;
    padding-bottom: 30px;
    color: #fff; }
  .page-footer__copyright {
    display: block;
    border-top: 1px solid #b8b8b8;
    color: #b8b8b8;
    padding: 10px 0; }

.footer-nav__item {
  padding-bottom: 15px; }

.footer-nav__link {
  color: #fff;
  padding: 0 5px; }
  .footer-nav__link:hover {
    color: #898989;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.4s;
    padding: 5px 5px; }

.footer-socials {
  width: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0; }
  .footer-socials__instagram:hover, .footer-socials__vk:hover {
    transition: transform 0.3s;
    transform: scale(1.5); }

.icon-instagram,
.icon-vkontakte {
  color: #b6b6b6;
  font-size: 30px; }

@media (min-width: 767px) {
  .page-footer {
    height: 140px; }
    .page-footer__container {
      position: relative; }
    .page-footer__logo {
      display: inline-block;
      position: absolute;
      left: 0;
      top: -15px; }
    .page-footer__copyright {
      padding-left: 40%; }
  .footer-nav {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0 100px;
    padding-bottom: 20px; }
    .footer-nav__item:last-child {
      display: none; }
  .footer-socials {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 7px;
    position: absolute;
    right: 30vw;
    bottom: -12px; } }

@media (min-width: 1199px) {
  .page-footer__copyright {
    text-align: center;
    padding-left: 0; }
  .footer-nav {
    width: 750px; }
    .footer-nav__link {
      font-size: 1.15rem; }
  .footer-socials {
    right: 0;
    bottom: 50px; } }

.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.popup-container {
  width: calc(100% - 20px);
  max-width: 550px;
  background-color: #fbebea;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px; }

.popup-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 5px solid #f50049;
  border-radius: 10px;
  text-align: center; }
  .popup-form__text {
    display: block;
    font-size: 20px;
    margin: 10px; }
  .popup-form__box {
    width: 90%;
    height: 50px;
    border: 1px solid #f50049;
    border-radius: 25px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 50px;
    outline: none; }
    .popup-form__box::placeholder {
      opacity: 0.5; }
    .popup-form__box:focus {
      border: 2px solid #5E9ED6; }
  .popup-form__btn {
    display: block;
    color: #fff;
    background-color: #f50049;
    border-radius: 25px;
    height: 3.3em;
    line-height: 3.3em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    width: 180px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px; }
    .popup-form__btn:hover {
      color: #f50049;
      background-color: #fbebea;
      box-shadow: inset 0 0 10px 0 #f50049, 0 0 2px 1px #f50049;
      transition: all 0.3s; }
    .popup-form__btn:focus {
      border: 2px solid #5E9ED6; }

@media (min-width: 600px) {
  .popup-cancel__btn {
    display: inline-block;
    margin-left: 30px; }
  .popup-order__btn {
    display: inline-block;
    margin-right: 30px; } }
