section#advantages.advantages
	h2.advantages__title Наши преимущества
	h3.advantages__subtitle Почему нас выбирают?
	.advantages__container.container
		.advantages__block.advantages-block
			h4.advantages-block__title Без искусственных добавок
			p.advantages-block__text Работаем с натуральными ингредиентами и свежими продуктами
		.advantages__block.advantages-block
			h4.advantages-block__title Свежий торт в день торжества
			p.advantages-block__text Торты изготавливаются в течение суток до отправки