.advantages {

  &__title {
    @include section-title;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-family: $intro-font;
    font-size: 22px;
    margin-bottom: 13px;
    text-align: center;
  }

  &-block {
    background-color: #fff;
    margin: 0 -20px;
    text-align: center;
    padding-top: 86px;
    position: relative;
    padding-bottom: 10px;

    &:nth-child(3):before {
      @include before-element;
      width: 61px;
      height: 61px;
      background-image: url(../img/icons/leaf-icon.png);
      left: 0;
      right: 0;
      top: 10px;
      margin: auto;
    }

    &:nth-child(4):before {
      @include before-element;
      width: 84px;
      height: 50px;
      background-image: url(../img/icons/cake24-icon.png);
      left: 0;
      right: 0;
      top: 10px;
      margin: auto;
    }

    &__title {
      font-size: 16px;
    }

    &__text {
      width: 260px;
      margin: 0 auto;
    }
  }
}