.advantages {
  position: relative;
  
  &__title {
    @include section-title;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-family: $intro-font;
    font-size: 22px;
    margin-bottom: 13px;
    text-align: center;
  }
}

.advantages-block {
  background-color: #fff;
  margin: 0 -20px;
  text-align: center;
  padding-top: 86px;
  position: relative;
  padding-bottom: 10px;

  &:first-child:before {
    @include before-element;
    width: 61px;
    height: 61px;
    background-image: url(../img/icons/leaf-icon.png);
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
  }

  &:nth-child(2):before {
    @include before-element;
    width: 84px;
    height: 50px;
    background-image: url(../img/icons/cake24-icon.png);
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
  }

  &__title {
    font-size: 16px;
    padding-bottom: 5px;
  }

  &__text {
    width: 260px;
    margin: 0 auto;
  }
}

@media(min-width: 767px) {

.advantages {
  width: 720px;
  margin: 0 auto 80px;
}

.advantages-block {
  width: 280px;
  margin-left: 55%;
  background-color: #fbebea;

  &:first-child:before {
    left: -370px;
    top: 80px;
  }

  &:first-child:after {
    content:'';
    position: absolute;
    width: 280px;
    height: 280px;
    background-image: url(../img/advantage-cake2.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: -380px;
    top: 20px;
  }

  &:nth-child(2) {
    padding-top: 10px;
  }

  &:nth-child(2):before {
    left: -380px;
    top: 7px;
  }

  &__title,
  &__text {
    text-align: left;
    margin: 0;
  }
}
}


@media(min-width: 1199px) {

.advantages {
  width: 900px;

  &__title {
    @include section-title-1200;
  }

  &__subtitle {
    @include title-subtext-1200;
  }
}

.advantages-block {
    &:first-child:after {
    left: -400px;
  }
}


}