.cakes {
  &__title {
    @include section-title;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    display: block;
    width: 280px;
    height: 120px;
    padding: 13px;
    text-decoration: none;
    color: #000;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
    transition: all 0.7s;
  }

  &__item:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.7);
  }

  &__item:first-child {
    background-image: url(../img/classic-cake.jpg);
    background-position: 50% 10%;
  }

  &__item:nth-child(2) {
    background-image: url(../img/muss-cake.jpg);
  }

  &__item:nth-child(3) {
    background-image: url(../img/wedding-cake.jpg);
  }

  &__item:nth-child(4) {
    background-image: url(../img/men-cake.jpg);
  }

  &__item:nth-child(5) {
    background-image: url(../img/women-cake.jpg);
  }

  &__item:last-child {
    background-image: url(../img/children-cake.jpg);
  }
  
  &__item span {
    font-size: 10px;
    opacity: 0.7;
  }
}

@media(min-width: 767px) {
  
.cakes {
  &__list {
    position: relative;
    height: 810px;
  }

  &__item {
    position: absolute;
    width: 40%;
    height: 185px;
  }

  &__item:first-child {
    width: 58%;
    height: 390px;
    top: 0;
    left: 0;
  }

  &__item:nth-child(2) {
    top: 0;
    right: 0;
  }

  &__item:nth-child(3) {
    top: 205px;
    right: 0;
  }

  &__item:nth-child(4) {
    top: 410px;
    left: 0;
  }

  &__item:nth-child(5) {
    bottom: 0;
    left: 0;
  }

  &__item:last-child {
    width: 58%;
    height: 390px;
    bottom: 0;
    right: 0;
  }
}
}

@media(min-width: 1199px) {

.cakes {
  &__title {
    @include section-title-1200;
    padding-top: 0;
  }

  &__item {
    font-size: 24px;
        /*background-size: contain;*/
        /*background-position: 50% 70%;*/


    span {
      font-size: 20px;
    }
  }
}


}