.clientcare {
  background: url(../img/advantage-cake1.png) (0 200px) /100% no-repeat;

  &__title {
    @include section-title;
    margin-bottom: 10px;
  }

  &__subtitle {
    display: block;
    font-family: $intro-font;
    font-size: 22px;
    margin-bottom: 7px;
    text-align: center;
  }

  &__text {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px;
  }
}

@media(min-width: 767px) {

.clientcare {
  width: 720px;
  background-image: none;
  padding-top: 50px;
  position: relative;
  padding-left: 7%;
  margin: 0 auto;

  &__container {
    margin-left: 0;
  }

  &:before {
    content:'';
    position: absolute;
    width: 440px;
    height: 440px;
    left: 40%;
    top: -80px;
    background: url(../img/advantage-cake1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title,
  &__subtitle {
    text-align: left;
  }

  &__text {
    width: 310px;
    text-align: left;
    margin-left: 0;
  }
}
}

@media(min-width: 1199px) {

.clientcare {
  width: 900px;

  &__title {
    @include section-title-1200;
    padding-top: 20px;
  }

  &__subtitle {
    @include title-subtext-1200;
  }

    &:before {
    left: 50%;
  }

}
}