.clientcare {
  background-image: url(../img/advantage-cake1.png);
  background-repeat: no-repeat;
  background-position: 0 200px;
  background-size: cover;

  &__title {
    @include section-title;
    margin-bottom: 10px;
  }

  &__subtitle {
    display: block;
    font-family: $intro-font;
    font-size: 22px;
    margin-bottom: 7px;
    text-align: center;
  }

  &__text {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px;
  }
}