.contacts {
  text-align: center;

  &__title {
    @include section-title;
    padding-bottom: 15px;
  }

  &__subtitle {
    display: block;
    font-family: $intro-font;
    font-size: 22px;
    padding-bottom: 8px;
  }

  &-form {
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 350px;
      height: 50px;
      border: none;
      margin: 10px auto;
      border-radius: 10px;
    }

    &__btn {
      @include btn;
      margin-top: 20px;
      margin-bottom: 29px;
    }
  }
}

.contacts-textblock {
  &__phone,
  &__mail {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
  }
  
  &__socialtext {
    display: block;
    margin-bottom: 10px;
  }
}

.contacts-socials {
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin: 0 auto;

  &__instagram,
  &__vk {
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 31px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  &__instagram {
    background-image: url(../img/icons/inst-icon.png);
  }

  &__vk {
    background-image: url(../img/icons/vk-icon.png);
  }
}

@media(min-width: 767px) {

.contacts {
  /*background: url(../img/contacts-pic.jpg) no-repeat bottom right;*/
  /*width: 600px;*/
  height: 600px;
  
  &__container {
    width: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.contacts-textblock {
  width: 220px;
  text-align: left;
}

.contacts-form {

  &__box:nth-child(4) {
    height: 120px;
  }

  &__btn {
    margin-left: 0;
  }
}

.contacts-socials {
  margin: 0;
}

}