.page-footer {
  background-color: #898989;
  padding-top: 45px;
  width: 100%;

  &__logo {
    font-family: $fair-font;
    font-size: 28px;
    padding-bottom: 30px;
    color: #fff;
  }

  &__copyright {
    display: block;
    border-top: 1px solid #b8b8b8;
    color: #b8b8b8;
    padding: 10px 0;
  }
}

.footer-nav {
  &__item {
    padding-bottom: 15px;
  }

  &__link {
    color: #fff;
    padding: 0 5px;

    &:hover {
      color: #898989;
      background-color: #fff;
      border-radius: 5px;
      transition: all 0.4s;
      padding: 5px 5px;
    }
  }

}

.footer-socials {
  width: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0;

  &__instagram,
  &__vk {
    &:hover {
      @include link-hover;
    }
  }
}

.icon-instagram,
.icon-vkontakte {
  color: #b6b6b6;
  font-size: 30px;
}


@media(min-width: 767px) {

.page-footer {
  height: 140px;
  
  &__container {
    position: relative;
  }

  &__logo {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -15px;
  }

  &__copyright {
    padding-left: 40%;
  }
}

.footer-nav {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 20px;

  &__item:last-child {
    display: none;
  }
}

.footer-socials {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 7px;
  position: absolute;
  right: 30vw;
  bottom: -12px;
}
}

@media(min-width: 1199px) {
.page-footer {
  &__copyright {
    text-align: center;
    padding-left: 0;
  }
}

.footer-nav {
  width: 750px;

  &__link {
    font-size: 16px;
  }
}

.footer-socials {
  right: 0;
  bottom: 50px;
}
}