.page-footer {
  background-color: #898989;
  padding-top: 45px;

  &__logo {
    font-family: $fair-font;
    font-size: 28px;
    padding-bottom: 30px;
    color: #fff;
  }

  &__copyright {
    display: block;
    border-top: 1px solid #b8b8b8;
    color: #b8b8b8;
    padding: 10px 0;
  }
}

.footer-nav {
  &__item {
    padding-bottom: 15px;
  }

  &__link {
    color: #fff;
  }
}

.footer-socials {
  width: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0;

  &__instagram,
  &__vk {
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: left;
  }

  &__instagram {
    background-image: url(../img/icons/inst-icon.png);
     background-size:65%;
  }

  &__vk {
    background-image: url(../img/icons/vk-icon.png);
     background-size:85%;
  }
}

@media(min-width: 767px) {

.page-footer {
  height: 140px;
  
  &__container {
    position: relative;
  }

  &__logo {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -15px;
  }

  &__copyright {
    padding-left: 250px;
  }
}

.footer-nav {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 130px;
  padding-bottom: 20px;

  &__item:last-child {
    display: none;
  }
}

.footer-socials {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 15px;
  position: absolute;
  right: 250px;
  bottom: -12px;
}




}