.order {
  background: url(../img/order-bg-320.jpg) bottom no-repeat #e3353d;
  background-size: contain;
  margin: 0 auto;
  height: 50%;

  &__title {
    @include section-title;
    text-align: center;
    color: #fff;
    padding-bottom: 37px;
  }

  &__list {
    max-width: 1200px;
    padding: 0;
    list-style: none;
  }

  &__item {
    max-width: 400px;
    text-align: left;
    color: #fff;
    padding-left: 46px;
    padding-right: 14px;
    position: relative;
    margin: 0 auto;

      &:last-child {
        padding-bottom: 130px;
      }
  }

  &-block {
    &__title {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 7px;
      position: relative;

      & span {
        font-family: $fair-font;
        font-size: 35px;
        position: absolute;
        left: -30px;
        top: -15px;
      }
    }

    &__text {
      padding-bottom: 23px;
    }
  }
}

@media(min-width: 620px) {
.order {
  height: 55vh;
}
}


@media(min-width: 767px) {

.order {
  background: url(../img/order-bg.jpg) no-repeat #e3353d;
  background-position: -170px 0;
  background-size: 125%;
  height: 100%;

  &__item {
    &:last-child {
      padding-bottom: 30px;
    }
  }
}

.order-block {
  width: 340px;
  margin-left: 55%;
}
}

@media(min-width: 1199px) {
.order {
  height: 700px;
  background-position: -170px 10px;

  &__title {
    font-size: 40px;
    padding-bottom: 80px;
  }
}

.order-block {
  width: 450px;
  margin-left: 60%;

  &__title,
  &__text {
    font-size: 20px;
  }
}
}

@media(min-width: 1500px) {
.order-block {
  margin-left: 65%;
}
}