.personal {
  &__title {
    @include section-title;
    width: 215px;
    margin: 0 auto 15px;
  }

  &__subtitle {
    @include title-subtext;
  }
}

.personal-card {
  max-width: 1220px;
  height: 430px;
  background-color: #fff;
  padding: 18px;
  border-radius: 30px;
  margin: 10px auto;
  position: relative;

  &__title {
    font-family: $fair-font;
    font-size: 16px;
    color: #f50049;
    line-height: 16px;
    margin-bottom: 22px;
  }

  &__title span {
    font-family: $fair-font;
    font-size: 30px;
    font-weight: bold;
    color: #f50049;
    padding-right: 13px;
  }

  &__btn {
    @include btn;
    margin-top: 23px;
  }
}

.personal-cakebox {
  height: 280px;
  margin: 0 auto;

  &__img-wrap {
    margin: 0 auto;
    width: 244px;
    height: 110px;
  }

  &__img {
    width: 100%;
    height: 110px;
  }
}

.cakebox-block {
  margin-top: 40px;
  position: relative;

  &__title {
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: bold;
  }

  &__text {
    margin-bottom: 17px;
    max-width: 300px;
  }

  &__size {
    display: block;
    font-family: $fair-font;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.personal-sizebox {
  height: 280px;
  margin: 0 auto;

  &__img-wrap {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
  }

  &__img {
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__title {
    text-align: center;
    line-height: 22px;
  }
}

.personal-sizebox:not(:first-child) {
  display: none;
}

.personal-appearbox {
  height: 280px;
  margin: 0 auto;

  &__img-wrap {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  &__title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 7px;
  }

  &__size {
    display: block;
    font-family: $fair-font;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.personal-card {
  &:last-child {
    height: 360px;
  }

  &__title--final {
    font-family: $fair-font;
    font-size: 22px;
    margin-bottom: 14px;
  }
}

.final-order {
  &__parametr {
    @include title-subtext;
    margin: 0 auto;
    color: #f50049;
    padding-bottom: 7px;
  }

  &__choice {
    width: 244px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
    line-height: 30px;
  }
} 












@media(min-width: 767px) {

.personal {
  &__title {
    width: 300px;
  }
}

.personal-card {
  width: 100%;
  height: 350px;
  box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);

  &__title {
    display: inline-block;
    height: 20px;
    width: 90px;
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 18px;
  }

  &__title--final {
    margin-left: 30px;
    margin-bottom: 10px;
  }

  &__title span {
    position: absolute;
    top: -30px;
    font-size: 36px;
  }
}

.personal-cakebox {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;

  &__img-wrap {
    width: 210px;
    height: 240px;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    width: 200%;
  }
}
  
.cakebox-block {
  width: 200px;
  margin-top: 30px;

  &__size {
    text-align: left;
  }

  &__btn {
    margin-left: 0;
  }
}

.sizebox-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 900px;
  margin: 0 auto;
}

.personal-sizebox {
  &:not(:first-child) {
    display: block;
  }

  &__img-wrap {
    width: 80px;
    height: 80px;
  }

  &:nth-child(2) .personal-sizebox__img-wrap {
    width: 110px;
    height: 110px;
  }

  &:nth-child(3) .personal-sizebox__img-wrap {
    width: 120px;
    height: 120px;
  }

  &:nth-child(4) .personal-sizebox__img-wrap {
    width: 140px;
    height: 140px;
  }

  &__img {
    width: 100%;
  }

  &___btn {
    display: none;
  }
}

.personal-card:nth-child(3) {
  &:before {
    content: '';
    position: absolute;
    background: url(../img/cake-picture.png) no-repeat center / cover;
    width: 120px;
    height: 150px;
    left: 50px;
    top: 120px;
  }
}

.appearbox-list {
  position: absolute;
  top: 50px;
  left: 300px;
}

.personal-appearbox {
  width: 200px;
  height: 270px;
  box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);

  &__btn {
    display: none;
  }

  &__title {
    margin-top: 5px;
  }

  &__size {
    font-size: 14px;
  }
}

.personal-card {
  &:last-child {
    height: 150px;
    position: relative;

    &:before {
      content: '';
      width: 330px;
      height: 80px;
      position: absolute;
      left: -20px;
      bottom: -75px;
      background: url(../img/illustrations/flags-left.png) no-repeat center / cover;
   }

    &:after {
      content: '';
      width: 330px;
      height: 80px;
      position: absolute;
      right: -20px;
      bottom: -75px;
      background: url(../img/illustrations/flags-right.png) no-repeat center / cover;
    }
  }
}

.final-order {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(100% - 60px);
  margin: 0 auto;

  &__choice {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 0;
  }

  &__btn {
    margin: 0;
  }
}
}

@media (min-width: 1199px) {

.personal {
  &__title {
    width: 100%;
    @include section-title-1200;
  }

  &__subtitle {
    @include title-subtext-1200;
  }
}

.personal-card {
  height: 570px;

  &__title {
    font-size: 27px;
    line-height: 27px;
    margin-left: 60px;
    margin-top: 100px;

    span {
      font-size: 58px;
      top: -50px;
    }
  }

  &:last-child {
    height: 200px;
  }

  &__title--final {
    font-size: 27px;
  }
}

.personal-cakebox {
  width: 700px;

  &__img-wrap {
    width: 340px;
    height: 390px;
  }

  &__btn {
    top: 300px;
    left: 700px;
  }
}

.cakebox-block {
  width: 300px;
  height: 180px;
  margin-top: 80px;

  &__title {
    font-size: 20px;
  }

  &__text {
    font-size: 18px;
  }

  &__size {
    font-size: 22px;
  }

  &__btn {
    margin-top: 50px;
  }
}

.personal-sizebox {
  &__img-wrap {
    width: 110px;
    height: 110px;
  }

  &:nth-child(2) .personal-sizebox__img-wrap {
    width: 150px;
    height: 150px;
  }

  &:nth-child(3) .personal-sizebox__img-wrap {
    width: 170px;
    height: 170px;
  }

  &:nth-child(4) .personal-sizebox__img-wrap {
    width: 210px;
    height: 210px;
  }

  &__title {
    font-size: 18px;
    line-height: 30px;
  }

  &__btn {
    display: none;
  }
}

.appearbox-list {
  margin-left: 100px;
}

.personal-appearbox {
  width: 320px;
  height: 430px;


  &:before {
    width: 250px;
    height: 330px;
    top: 150px;
  }

  &__img-wrap {
    width: 300px;
    height: 330px;
  }

  &__title {
    font-size: 20px;
  }

  &__size {
    font-size: 22px;
  }
}

.personal-card:nth-child(3) {
  &:before {
    width: 250px;
    height: 330px;
    top: 180px;
  }
}

.final-order {
  &__parametr {
    font-size: 27px;
  }

  &__choice {
    height: 40px;
  }
}



}