.personal {
  &__title {
    @include section-title;
    margin-bottom: 15px;
  }

  &__text {
    @include title-subtext;
  }
}

.personal-card {
  width: 280px;
  height: 430px;
  background-color: #fff;
  padding: 18px;
  border-radius: 30px;
  margin: 10px auto;

  &__title {
    font-family: $fair-font;
    font-size: 16px;
    color: #f50049;
    line-height: 16px;
    margin-bottom: 22px;
  }

  &__title span {
    font-family: $fair-font;
    font-size: 30px;
    font-weight: bold;
    color: #f50049;
    padding-right: 13px;
  }

  &__btn {
    @include btn;
    margin-top: 23px;
  }
}

.personal-cakebox {
  height: 280px;
  margin: 0 auto;

  &__img-wrap {
    margin: 0 auto;
    width: 244px;
    height: 110px;
  }

  &__img {
    width: 100%;
    height: 110px;
  }

  &__title {
    margin: 40px 0 9px 0;
    font-size: 16px;
    font-weight: bold;
  }

  &__text {
    margin-bottom: 17px;
    max-width: 300px;
  }

  &__size {
    display: block;
    font-family: $fair-font;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.personal-sizebox {
  height: 280px;
  margin: 0 auto;

  &__img-wrap {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
  }

  &__img {
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__title {
    text-align: center;
  }
}

.personal-appearbox {
  height: 280px;
  margin: 0 auto;

  &__img-wrap {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  &__title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 7px;
  }

  &__size {
    display: block;
    font-family: $fair-font;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.personal-card {
  &:last-child {
    height: 360px;
  }

  &__title--final {
    font-family: $fair-font;
    font-size: 22px;
    margin-bottom: 14px;
  }

  &__parametr {
    @include title-subtext;
    margin: 0 auto;
    color: #f50049;
    padding-bottom: 7px;
  }

  &__choice {
    width: 244px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
  }
}

@media(min-width: 767px) {
  
.personal-card {
  width: 100%;

  &__title {
    width: 90px;
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
  }

  &__title span {
    position: absolute;
    top: -30px;
    
  }
}

.personal-cakebox {

  &__img-wrap {
    margin: 0 auto;
    width: 210px;
    height: 110px;
  }
}



}