.popup {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.popup-container {
	width: calc(100% - 40px);
	max-width: 550px;
	background-color: $main-bgс;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 10%;
	padding: 20px;
}

.popup-form {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 5px solid #f50049;
	border-radius: 10px;
	text-align: center;

	&__text {
		display: block;
		
		font-size: 20px;
		margin: 20px;
	}

	&__box {
		width: 90%;
		height: 50px;
		border: 1px solid #f50049;
		border-radius: 25px;
		padding-left: 20px;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 50px;

		&::placeholder {
			opacity: 0.5;
		}
	}

	&__btn {
		@include btn;
		margin-bottom: 20px;
	}
}

@media (min-width: 600px) {

.popup-cancel__btn {
	display: inline-block;
	margin-left: 30px;
}

.popup-order__btn {
	display: inline-block;
	margin-right: 30px;
}
}

