.reviews {
  &__title {
    @include section-title;
    margin-bottom: 22px;
  }
}

.reviews-item {
  width: 230px;
  height: 180px;
  margin: 0 auto;

  &__img-wrap {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  &__img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__name {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  &__skills {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__text {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }
}

.reviews-block {
  margin-top: 7px;
}


@media(min-width: 767px) {

.reviews-item {
  width: 420px;
  display: flex;
  justify-content: space-between;

  &__img-wrap {
    width: 110px;
    height: 110px;
  }

  &__block {
    width: 260px;
  }

  &__name,
  &__skills,
  &__text {
    text-align: left;
  }
}
}


@media (min-width: 1199px) {
.reviews {
  &__title {
    @include section-title-1200;
  }

  &__subtitle {
    @include title-subtext-1200;
  }
}

.reviews-item {

  &__img-wrap {
    margin-top: 5%;
  }

  &__name {
    font-size: 20px;
  }

  &__skills {
    font-size: 18px;
  }

  &__text {
    width: 320px;
    font-size: 16px;
  }
}


}