$main-font: "Circe", sans-serif;
$main-fz: 14px;
$main-bgс: #fbebea;
$intro-font: 'Intro Script R', sans-serif;
$fair-font: 'Playfair display', serif;
$circe-font: 'Circe', serif;

@mixin btn {
  display: block;
  color: #fff;
  background-color: #f50049;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  border: none;
  width: 180px;
  cursor: pointer;

  &:hover {
  color: #f50049;
  background-color: #fbebea;
  box-shadow: inset 0 0 10px 0 #f50049, 0 0 2px 1px #f50049;
  transition: all 0.3s;
  }
}

@mixin section-title {
  font-size: 24px;
  text-align: center;
  font-family: $fair-font;
  padding-top: 45px;
}

@mixin section-title-1200 {
  font-size: 40px;
  padding-top: 100px;
}

@mixin title-subtext {
  display: block;
  font-family: $intro-font;
  font-size: 22px;
  text-align: center;
}

@mixin title-subtext-1200 {
  font-size: 35px;
}

@mixin before-element {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin box-hover {
  box-shadow: 0 5px 10px 1px rgba(163, 6, 60, 0.7);
  transition: all 0.3s;
}

@mixin link-hover {
  transition: transform 0.3s;
  transform: scale(1.5);
}

@import 'fonts';

body {
  font-family: $main-font;
  font-size: $main-fz;
  box-sizing: border-box;
  background-color: #fbebea;
  position: relative;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  /*outline: 1px solid red;*/
}

.container {
  width: calc(100% - 40px);
  max-width: 1220px;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

@import 'promo';

@import 'main-nav';

@import 'header';

@import 'cakes-section';

@import 'personal-section';

@import 'reviews-section';

@import 'about-section';

@import 'advantages-section';

@import 'clientcare-section';

@import 'order-section';

@import 'contacts-section';

@import 'footer';

@import 'popup';