$main-font: "Circe", sans-serif;
$main-fz: 14px;
$main-bgс: #fff;
$intro-font: 'Intro Script R', sans-serif;
$fair-font: 'Playfair display', serif;
$circe-font: 'Circe', serif;

@mixin btn {
  display: block;
  color: #fff;
  background-color: #f50049;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  border: none;
  width: 180px;
}

@mixin section-title {
  font-size: 24px;
  text-align: center;
  font-family: $fair-font;
  padding-top: 45px;
}

@mixin title-subtext {
  display: block;
  font-family: $intro-font;
  font-size: 22px;
  text-align: center;
}

@mixin before-element {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@import 'fonts';

body {
  font-family: $main-font;
  font-size: $main-fz;
  box-sizing: border-box;
  background-color: #fbebea;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

@import 'promo';

@import 'main-nav';

@import 'header';

@import 'cakes-section';

@import 'personal-section';

@import 'reviews-section';

@import 'about-section';

@import 'advantages-section';

@import 'clientcare-section';

@import 'order-section';

@import 'contacts-section';

@import 'footer';