section#personal.personal
	h2.personal__title Индивидуальный заказ
	h3.personal__subtitle Соберите торт в 3 шага
	.personal__container.container
	
		include personal-cakebox/personal-cakebox.pug
		include personal-sizebox/personal-sizebox.pug
		include personal-appearbox/personal-appearbox.pug
		include final-order/final-order.pug